<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.travel.bean.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="commentid" jdbcType="BIGINT" property="commentid" />
    <result column="guideid" jdbcType="BIGINT" property="guideid" />
    <result column="groupid" jdbcType="BIGINT" property="groupid" />
    <result column="guidecomment" jdbcType="REAL" property="guidecomment" />
    <result column="tourcomment" jdbcType="REAL" property="tourcomment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.travel.bean.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commentid, guideid, groupid, guidecomment, tourcomment
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.travel.bean.CommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.travel.bean.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.travel.bean.CommentExample">
    delete from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.bean.Comment">
    insert into t_comment (id, commentid, guideid, 
      groupid, guidecomment, tourcomment, 
      content)
    values (#{id,jdbcType=BIGINT}, #{commentid,jdbcType=BIGINT}, #{guideid,jdbcType=BIGINT}, 
      #{groupid,jdbcType=BIGINT}, #{guidecomment,jdbcType=REAL}, #{tourcomment,jdbcType=REAL}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.bean.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentid != null">
        commentid,
      </if>
      <if test="guideid != null">
        guideid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="guidecomment != null">
        guidecomment,
      </if>
      <if test="tourcomment != null">
        tourcomment,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commentid != null">
        #{commentid,jdbcType=BIGINT},
      </if>
      <if test="guideid != null">
        #{guideid,jdbcType=BIGINT},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="guidecomment != null">
        #{guidecomment,jdbcType=REAL},
      </if>
      <if test="tourcomment != null">
        #{tourcomment,jdbcType=REAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.bean.CommentExample" resultType="java.lang.Long">
    select count(*) from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_comment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.commentid != null">
        commentid = #{record.commentid,jdbcType=BIGINT},
      </if>
      <if test="record.guideid != null">
        guideid = #{record.guideid,jdbcType=BIGINT},
      </if>
      <if test="record.groupid != null">
        groupid = #{record.groupid,jdbcType=BIGINT},
      </if>
      <if test="record.guidecomment != null">
        guidecomment = #{record.guidecomment,jdbcType=REAL},
      </if>
      <if test="record.tourcomment != null">
        tourcomment = #{record.tourcomment,jdbcType=REAL},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_comment
    set id = #{record.id,jdbcType=BIGINT},
      commentid = #{record.commentid,jdbcType=BIGINT},
      guideid = #{record.guideid,jdbcType=BIGINT},
      groupid = #{record.groupid,jdbcType=BIGINT},
      guidecomment = #{record.guidecomment,jdbcType=REAL},
      tourcomment = #{record.tourcomment,jdbcType=REAL},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_comment
    set id = #{record.id,jdbcType=BIGINT},
      commentid = #{record.commentid,jdbcType=BIGINT},
      guideid = #{record.guideid,jdbcType=BIGINT},
      groupid = #{record.groupid,jdbcType=BIGINT},
      guidecomment = #{record.guidecomment,jdbcType=REAL},
      tourcomment = #{record.tourcomment,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.bean.Comment">
    update t_comment
    <set>
      <if test="commentid != null">
        commentid = #{commentid,jdbcType=BIGINT},
      </if>
      <if test="guideid != null">
        guideid = #{guideid,jdbcType=BIGINT},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=BIGINT},
      </if>
      <if test="guidecomment != null">
        guidecomment = #{guidecomment,jdbcType=REAL},
      </if>
      <if test="tourcomment != null">
        tourcomment = #{tourcomment,jdbcType=REAL},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.travel.bean.Comment">
    update t_comment
    set commentid = #{commentid,jdbcType=BIGINT},
      guideid = #{guideid,jdbcType=BIGINT},
      groupid = #{groupid,jdbcType=BIGINT},
      guidecomment = #{guidecomment,jdbcType=REAL},
      tourcomment = #{tourcomment,jdbcType=REAL},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.bean.Comment">
    update t_comment
    set commentid = #{commentid,jdbcType=BIGINT},
      guideid = #{guideid,jdbcType=BIGINT},
      groupid = #{groupid,jdbcType=BIGINT},
      guidecomment = #{guidecomment,jdbcType=REAL},
      tourcomment = #{tourcomment,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>