<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.dao.ScenicSpotMapper">
  <resultMap id="BaseResultMap" type="com.travel.bean.ScenicSpot">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="tour_project" jdbcType="VARCHAR" property="tourProject" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="spot_sort" jdbcType="BIGINT" property="spotSort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, position, tour_project, introduction, price, picture, time, spot_sort
  </sql>
  <select id="selectByExample" parameterType="com.travel.bean.ScenicSpotExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_scenic_spot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_scenic_spot
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_scenic_spot
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.travel.bean.ScenicSpotExample">
    delete from t_scenic_spot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.bean.ScenicSpot">
    insert into t_scenic_spot (ID, position, tour_project, 
      introduction, price, picture, 
      time, spot_sort)
    values (#{id,jdbcType=BIGINT}, #{position,jdbcType=VARCHAR}, #{tourProject,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{picture,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{spotSort,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.bean.ScenicSpot">
    insert into t_scenic_spot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="tourProject != null">
        tour_project,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="spotSort != null">
        spot_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="tourProject != null">
        #{tourProject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="spotSort != null">
        #{spotSort,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.bean.ScenicSpotExample" resultType="java.lang.Long">
    select count(*) from t_scenic_spot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_scenic_spot
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.tourProject != null">
        tour_project = #{record.tourProject,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spotSort != null">
        spot_sort = #{record.spotSort,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_scenic_spot
    set ID = #{record.id,jdbcType=BIGINT},
      position = #{record.position,jdbcType=VARCHAR},
      tour_project = #{record.tourProject,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      picture = #{record.picture,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      spot_sort = #{record.spotSort,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.bean.ScenicSpot">
    update t_scenic_spot
    <set>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="tourProject != null">
        tour_project = #{tourProject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="spotSort != null">
        spot_sort = #{spotSort,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.bean.ScenicSpot">
    update t_scenic_spot
    set position = #{position,jdbcType=VARCHAR},
      tour_project = #{tourProject,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      picture = #{picture,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      spot_sort = #{spotSort,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>